NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB3kvu4UEEr7dDhMZ4Fla2p9e6I9lMuZBc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fir-with-springboot-b7a67.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fir-with-springboot-b7a67
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fir-with-springboot-b7a67.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=681956099660
NEXT_PUBLIC_FIREBASE_APP_ID=1:681956099660:web:8cbbe2e3fc9e5c189656e9
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4FRM7780J4
